---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>


<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Y3kTFIJriF9pvhHHI4ZMfNEIT33lGYeyuMMKFfMDuu4&cl=ffffff&w=a"></script>


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
